@{
    ViewBag.Title = "Nguyễn Quang Huy";
}
<h2>@ViewBag.Title.</h2>
<h3>Bài thi giữa kỳ của Nguyễn Quang Huy - Cam kết không đạo văn bản</h3>

<address>
    K22CNT4 - Môn lập trình ứng dụng wed với công nghệ Asp.Net MVC5
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nguyenquangh661@gmail.com">nguyenquangh661@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nguyenvanhieu@gmail.com">nguyenvanhieu@gmail.com</a>
</address>