USE [NqhK22CNT4Lesson07PR]
GO
/****** Object:  Table [dbo].[NqhKhoa]    Script Date: 6/12/2024 3:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NqhKhoa](
	[NqhMaKH] [nchar](10) NOT NULL,
	[NqhTenKH] [nvarchar](50) NULL,
	[NqhTrangThai] [bit] NULL,
 CONSTRAINT [PK_NqhKhoa] PRIMARY KEY CLUSTERED 
(
	[NqhMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nqhSinhVien]    Script Date: 6/12/2024 3:13:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nqhSinhVien](
	[NqhMaSV] [nvarchar](50) NOT NULL,
	[NqhHoSV] [nvarchar](50) NULL,
	[NqhTenSV] [nvarchar](50) NULL,
	[nqhNgaySinh] [date] NULL,
	[NqhPhai] [bit] NULL,
	[NqhPhone] [nchar](10) NULL,
	[NqhEmail] [nvarchar](50) NULL,
	[MaKH] [nchar](10) NULL,
 CONSTRAINT [PK_nqhSinhVien] PRIMARY KEY CLUSTERED 
(
	[NqhMaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NqhKhoa] ([NqhMaKH], [NqhTenKH], [NqhTrangThai]) VALUES (N'K22CNT4   ', N'K22CNT3', 1)
GO
INSERT [dbo].[nqhSinhVien] ([NqhMaSV], [NqhHoSV], [NqhTenSV], [nqhNgaySinh], [NqhPhai], [NqhPhone], [NqhEmail], [MaKH]) VALUES (N'2210900105', N'Nguyen Quang', N'Huy', CAST(N'2004-05-28' AS Date), 1, N'0862208428', N'nguyenquangh661@gmail.com', N'K22CNT4   ')
GO
