@{
    ViewBag.Title = "Nguyễn Quang Huy";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.MSV</h3>
<h3>@ViewBag.FullName</h3>

<address>
    K22CNT4<br />
    - AspNet MVC5<br />
    <abbr title="Phone">P:</abbr>
    0862208428
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nguyenquangh@example.com">nguyenquangh@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>