
@{
    ViewBag.Title = "Nguyễn Quang Huy";
}

<h2>Nguyễn Quang Huy - Index</h2>
<hr />
<h3>Hiển dữ liệu lấy từ Action trong Controller</h3>
<h4>FullName: @ViewBag.fullName</h4>
<h4>Ngày sinh: @ViewData["Birthday"]</h4>
<h4>Đi động: @TempData["Phone"] </h4>

